<footer class='text-muted text-center' style='border-top: 1px solid #eee'>
	<ul class='list-unstyled'>
		<li>
		<ul class='list-inline hidden-print'>
			<li class='list-inline-item'><a href='https://twitter.com/intent/tweet?text={{ site.url }}' target='_blank' title='Share on Twitter'><img class='social' src='/images/twitter.svg' width='24px' height='24px' alt='Share on Twitter'></li>
			<li class='list-inline-item'><a href='https://facebook.com/sharer.php?u={{ site.url }}' target='_blank' title='Share on Facebook'><img class='social' src='/images/facebook.svg' width='24px' height='24px' alt='Share on Facebook'></a></li>
		</ul>
		</li>
		<li>&copy; 2013-{{ site.time | date: '%Y' }} <a href='https://twitter.com/frogpocalypse' target='_blank'>Bennett Blodinger</a></li>
		<li><a href='http://amctv.com/shows/the-walking-dead' target='_blank'>The Walking Dead</a> &copy; 2010-{{ site.time | date: '%Y' }} AMC Network Entertainment LLC</li>
		<li>Uses <a href='https://getbootstrap.com/' target='_blank'>Bootstrap</a> and <a href='https://materialdesignicons.com/' target='_blank'>Material Design Icons</a></li>
	</ul>
</footer>
