<footer style="border-top: 1px solid #eee">
	<p class="text-muted credit text-center">&copy; 2013-{{ site.time | date: "%Y" }} <a href="//twitter.com/frogpocalypse" target="_blank">Bennett Blodinger</a>
	<br>
	<a href="//amctv.com/shows/the-walking-dead" target="_blank">The Walking Dead</a> &copy; 2010-{{ site.time | date: "%Y" }} AMC Network Entertainment LLC
	<br>
	Uses <a href="//getbootstrap.com/" target="_blank">Bootstrap</a> and <a href="//glyphicons.com/" target="_blank">Glyphicons</a></p>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-46208379-1', 'caaarl.com');
  ga('send', 'pageview');
</script>