<footer class='text-muted text-center' style='border-top: 1px solid #eee'>
	<ul class='list-unstyled'>
		<li>
		<ul class='list-inline hidden-print'>
			<li class='list-inline-item'><a href='//plus.google.com/share?url={{ site.url }}' target='_blank' title='Share on Google+'><img class='social' src='/images/glyphicons/social-3-google-plus.png' srcset='/images/glyphicons/social-3-google-plus@2x.png 2x, /images/glyphicons/social-3-google-plus@3x.png 3x'></a></li>
			<li class='list-inline-item'><a href='//twitter.com/intent/tweet?text={{ site.url }}' target='_blank' title='Share on Twitter'><img class='social' src='/images/glyphicons/social-32-twitter.png' srcset='/images/glyphicons/social-32-twitter@2x.png 2x, /images/glyphicons/social-32-twitter@3x.png 3x'></a></li>
			<li class='list-inline-item'><a href='//facebook.com/sharer.php?u={{ site.url }}' target='_blank' title='Share on Facebook'><img class='social' src='/images/glyphicons/social-31-facebook.png' srcset='/images/glyphicons/social-31-facebook@2x.png 2x, /images/glyphicons/social-31-facebook@3x.png 3x'></a></li>
		</ul>
		</li>
		<li>&copy; 2013-{{ site.time | date: '%Y' }} <a href='//twitter.com/frogpocalypse' target='_blank'>Bennett Blodinger</a></li>
		<li><a href='//amctv.com/shows/the-walking-dead' target='_blank'>The Walking Dead</a> &copy; 2010-{{ site.time | date: '%Y' }} AMC Network Entertainment LLC</li>
		<li>Uses <a href='//getbootstrap.com/' target='_blank'>Bootstrap</a> and <a href='//glyphicons.com/' target='_blank'>Glyphicons</a></li>
	</ul>
</footer>
