<!doctype html>
<html lang='en' prefix='og: http://ogp.me/ns#'>
	<head>
		<meta charset='utf-8'>
		<meta http-equiv='x-ua-compatible' content='ie=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<title>{{ site.name }}</title>
		{%- for file in site.static_files -%}
		{%- if file.path contains '/favicon/' -%}
		{%- assign name = file.path | remove: '/favicon/' | remove: file.extname -%}
		<link rel='icon' href='{{ file.path }}' sizes='{{ name }}x{{ name }}' type='image/png'>
		<link rel='apple-touch-icon' href='{{ file.path }}' sizes='{{ name }}x{{ name }}'>
		{%- endif -%}
		{%- endfor -%}
		<link name='msapplication-TileImage' content='/favicon/144.png'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20=" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.8/themes/odometer-theme-default.min.css" integrity="sha256-K2yDiYk0B1WE0j4NbUVdkEYt5GYBvLwptIlUkg3RLhk=" crossorigin="anonymous" />

		{%- seo -%}

		<script src="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.8/odometer.min.js" integrity="sha256-65R1G5irU1VT+k8L4coqgd3saSvO/Wufson/w+v2Idw=" crossorigin="anonymous"></script>
		<script src='https://www.gstatic.com/charts/loader.js'></script>
		<script>
			google.charts.load('current');
			google.charts.setOnLoadCallback(drawChart);
			function drawChart() {
				var wrapper = new google.visualization.ChartWrapper({
					chartType: 'Bar',
					dataTable: {
						cols: [{type: 'string'}, {label: 'Carls', type: 'number'}],
						rows: [{% for ep in site.data.episodes %}{c:[{v: 'S{{ ep.season | prepend: "00" | slice: -2, 2 }}E{{ ep.episode | prepend: "00" | slice: -2, 2 }}'}, {v: {{ ep.count }}}]}{% unless forloop.last %},{% endunless %}{% endfor %}]
					},
					options: {
						colors: ['#0275d8'],
						legend: {position: 'none'},
						hAxis: {gridlines: {count: 0}},
						vAxis: {gridlines: {count: -1}}
					},
					containerId: 'chart'
				});
				wrapper.draw();
			};

			var windowWidth = window.innerWidth;
			window.onresize = function() {
				if (windowWidth != window.innerWidth) {
					drawChart();
					windowWidth = window.innerWidth;
				}
			}
		</script>
		<style>
			.social {
				-webkit-user-drag: none;
			}
		</style>
	</head>
