<div class="col-md-3 panel panel-default" style="padding: 0px">
	<div class="panel-heading">
		<span class="panel-title">Support Us!</span>
		<span class="pull-right">
			<a href="https://plus.google.com/share?url={{ site.url }}" target="_blank" class="social google_plus"></a><a href="http://twitter.com/intent/tweet?text={{ site.url }}" target="_blank" class="social twitter"></a><a href="http://facebook.com/sharer.php?u={{ site.url }}" target="_blank" class="social facebook"></a>
		</span>
	</div>
	<div class="panel-body text-center">
		<p>By purchasing through these links, you help keep the dream running</p>
		<hr>
		<a href="http://amazon.com/dp/B0049P1ZZQ/?tag=caaarl-20" target="_blank"><img class="productImage" src="http://ecx.images-amazon.com/images/I/51Iad9vxcKL.jpg" alt="The Complete First Season"><br>The Complete First Season
		</a>
		<hr>
		<a href="http://amazon.com/dp/B005LAJ23A/?tag=caaarl-20" target="_blank"><img class="productImage" src="http://ecx.images-amazon.com/images/I/511crjo2oSL.jpg" alt="The Complete Second Season"><br>The Complete Second Season
		</a>
		<hr>
		<a href="http://amazon.com/dp/B009NH6JRE/?tag=caaarl-20" target="_blank"><img class="productImage" src="http://ecx.images-amazon.com/images/I/51tjwSz14GL.jpg" alt="The Complete Third Season"><br>The Complete Third Season
		</a>
		<hr>
		<a href="http://amazon.com/dp/B00FN5ZFOS/?tag=caaarl-20" target="_blank"><img class="productImage" src="http://ecx.images-amazon.com/images/I/51u8npFhueL.jpg" alt="The Complete Fourth Season"><br>The Complete Fourth Season
		</a>
		<hr>
		<a href="http://www.amazon.com/gp/video/primesignup?tag=caaarl-20" target="_blank">Or watch them all with Amazon Prime</a>
		<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=caaarl-20&o=1&p=21&l=ur1&category=primeent&banner=1R1TYHY9TYF4VF36KGG2&f=ifr" width="125" height="125" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
	</div>
</div>