<div class="col-md-3 panel panel-default" style="padding: 0px">
	<div class="panel-heading">
		<span class="panel-title">Support Us!</span>
		<span class="pull-right">
			<a href="//plus.google.com/share?url={{ site.url }}" target="_blank" title="Share on Google+"><img class="social" src="/images/glyphicons/social-3-google-plus.png" srcset="/images/glyphicons/social-3-google-plus@2x.png 2x, /images/glyphicons/social-3-google-plus@3x.png 3x"></a><a href="//twitter.com/intent/tweet?text={{ site.url }}" target="_blank" title="Share on Twitter"><img class="social" src="/images/glyphicons/social-32-twitter.png" srcset="/images/glyphicons/social-32-twitter@2x.png 2x, /images/glyphicons/social-32-twitter@3x.png 3x"></a><a href="//facebook.com/sharer.php?u={{ site.url }}" target="_blank" title="Share on Facebook"><img class="social" src="/images/glyphicons/social-31-facebook.png" srcset="/images/glyphicons/social-31-facebook@2x.png 2x, /images/glyphicons/social-31-facebook@3x.png 3x"></a>
		</span>
	</div>
	<div class="panel-body text-center">
		<p>By purchasing through these links, you help keep the dream running</p>
		<hr>
		<a href="//amazon.com/dp/B0049P1ZZQ/?tag=caaarl-20" target="_blank"><img class="productImage" src="/images/S01.jpg" alt="The Complete First Season"><br>The Complete First Season
		</a>
		<hr>
		<a href="//amazon.com/dp/B005LAJ23A/?tag=caaarl-20" target="_blank"><img class="productImage" src="/images/S02.jpg" alt="The Complete Second Season"><br>The Complete Second Season
		</a>
		<hr>
		<a href="//amazon.com/dp/B009NH6JRE/?tag=caaarl-20" target="_blank"><img class="productImage" src="/images/S03.jpg" alt="The Complete Third Season"><br>The Complete Third Season
		</a>
		<hr>
		<a href="//amazon.com/dp/B00FN5ZFOS/?tag=caaarl-20" target="_blank"><img class="productImage" src="/images/S04.jpg" alt="The Complete Fourth Season"><br>The Complete Fourth Season
		</a>
		<hr>
		<a href="//amazon.com/dp/B00VGQKBQ0/?tag=caaarl-20" target="_blank"><img class="productImage" src="/images.S05.jpg" alt="The Complete Fifth Season"><br>The Complete Fifth Season
		</a>
		<hr>
		<a href="//www.amazon.com/gp/video/primesignup?tag=caaarl-20" target="_blank">Or watch them all with Amazon Prime</a>
		<iframe src="//rcm-na.amazon-adsystem.com/e/cm?t=caaarl-20&o=1&p=21&l=ur1&category=primeent&banner=1R1TYHY9TYF4VF36KGG2&f=ifr" width="125" height="125" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
	</div>
</div>
